* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: MaruBuriRegular;
}

@font-face {
  font-family: MaruBuriRegular;
  src: url(font/MaruBuriTTF/MaruBuri-Regular.ttf);
}

div.totalwrapper {
  width: 100%;
  height: 100%;
  min-height: 65rem;
  /* background-color: #f3f6f9; */
  background-color: #f3f6f9;
}

/* 헤더 */
div.header {
  background-color: #1e1e2d;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 97;
  box-shadow: 1px 1px 10px 3px grey;
  height: 70px;
  padding: 0;
}

div.header-main {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

/* 로고와 간편 페이지 이동 */
div.logo-movepage {
  margin-left: 20px;
  display: flex;
}
/* 로고 이미지 */
div.logo-icon img {
  width: 45px;
}
/* 페이지 이동 버튼 */
div.movepage {
  margin-left: 50px;
}

button.movebtn {
  margin-top: 7px;
  width: 200px;
  height: 35px;
  background-color: #353542;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

button.movebtn:hover .target {
  filter: brightness(350%);
  transition: 0.5s;
}

button.movebtn span {
  font-size: 12px;
  font-weight: bold;
  color: #6a6d80;
  margin-right: 70px;
}

button.movebtn img {
  width: 12px;
  margin-top: 2px;
}

ul.dashul {
  list-style: none;
  background-color: #353542;
  width: 200px;
  text-align: left;
  border-radius: 0 0 10px 10px;
  margin-top: -13px;
  color: #6a6d80;
  padding: 10px;
}

ul.dashul li {
  margin: 10px;
  /* margin-left: 30px; */
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}

li.dash1:hover {
  filter: brightness(350%);
  font-size: 17px;
  transition: 0.3s;
}
li.dash2:hover {
  filter: brightness(350%);
  font-size: 17px;
  transition: 0.3s;
}
li.dash3:hover {
  filter: brightness(350%);
  font-size: 17px;
  transition: 0.3s;
}
li.dash4:hover {
  filter: brightness(350%);
  font-size: 17px;
  transition: 0.3s;
}
li.dash5:hover {
  filter: brightness(350%);
  font-size: 17px;
  transition: 0.3s;
}

/* 헤더 카테고리 */

div.search-icon {
  display: flex;
  justify-content: space-between;
}

/* 검색 */
div.search-wrap {
  display: flex;
}

img.search {
  margin: 15px;
  width: 20px;
  height: 20px;
  filter: brightness(350%);
  cursor: pointer;
}

input.search-input {
  width: 200px;
  height: 30px;
  margin-top: 10px;
  border: none;
  border-bottom: 2px solid white;
  background-color: #1e1e2d;
  color: white;
  font-weight: 700;
}
input.search-input:focus {
  outline: none;
}

/* 프로필 */
div.profile {
  display: flex;
  cursor: pointer;
}

div.profile li {
  list-style: none;
  color: white;
  margin: 15px;
}

div.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

div.body {
  width: 100%;
  height: 100%;
  /* background-color: skyblue; */
}

/* 사이드 카테고리 */

div.side-category {
  border: 1px solid grey;
  border-radius: 10px;
  width: 260px;
  height: 75%;
  position: fixed;
  top: 120px;
  left: 50px;
  box-shadow: 1px 1px 10px 3px grey;
}

div.side-category-wrap {
  margin: 15px;
  /* border: 1px solid black; */
}

/* 사이드 카테고리 헤더 */
div.side-option-wrap {
  border: 1px solid lightyellow;
  box-shadow: 1px 1px 10px 3px grey;
  cursor: pointer;
}

div.side-button {
  display: flex;
  border-bottom: 1px solid grey;
  background-color: lightyellow;
  margin: 1px;
}

div.side-button:hover .dashboardhb {
  color: gray;
  transition: 0.3s;
}

div.side-button img {
  width: 23px;
}

div.side-button span {
  font-size: 16px;
  margin-left: 10px;
  margin-top: 1px;
  font-weight: 700;
}

div.side-button #godown {
  width: 14px;
  height: 12px;
  margin-left: 110px;
  margin-top: 6px;
}

/* 사이드 카테고리 메인 */
div.side-content {
  list-style: none;
}

div.side-content ul {
  text-align: center;
  margin: 5px 0;
}

div.side-content li {
  list-style: none;
  margin: 5px;
  font-weight: 700;
}

li.ds1:hover {
  font-size: 19px;
  background-color: lightgray;
}
li.ds2:hover {
  font-size: 19px;
  background-color: lightgray;
}
li.ds3:hover {
  font-size: 19px;
  background-color: lightgray;
}
li.ds4:hover {
  font-size: 19px;
  background-color: lightgray;
}
li.ds5:hover {
  font-size: 19px;
  background-color: lightgray;
}

/* 메인 스크린 */
div.total-screen {
  width: 75%;
  height: 100%;
  position: relative;
  top: 107px;
  left: 350px;
}

div.totla-screen-wrap {
  width: 100%;
  display: flex;
}

div.qs-us {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: 400px;
}

/*도움 게시판 */
div.question-board {
  width: 85%;
  min-width: 350px;
  height: 190px;
  margin: 10px;
  border: 2px solid grey;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 10px 3px grey;
}

div.question-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid grey;
  padding: 0 10px;
  background-color: lightyellow;
  border-radius: 10px 10px 0 0;
}

div.question-title:hover .questionhb {
  color: gray;
  transition: 0.3s;
}

div.question-title img {
  width: 30px;
}

div.question-box {
  padding: 5px;
}

div.question-box li {
  list-style: none;
  text-align: left;
  margin: 5px 0;
  border-bottom: 1px solid black;
  font-weight: 700;
}

/* 회원 게시판 */
div.user-board {
  width: 85%;
  min-width: 350px;
  height: 300px;
  margin: 10px;
  border: 2px solid grey;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 10px 3px grey;
}

div.user-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid grey;
  padding: 0 10px;
  background-color: lightyellow;
  border-radius: 10px 10px 0 0;
}

div.user-title:hover .userhb {
  color: gray;
  transition: 0.3s;
}

div.user-title img {
  width: 30px;
}

div.user-box img {
  width: 100%;
  height: 260px;
}

/* 교육 분야 게시판 */

div.tl-cp-ml {
  display: flex;
  flex-direction: column;
  width: 70%;
}

div.talent-board {
  width: 90%;
  min-width: 550px;
  height: 280px;
  margin: 10px;
  border: 2px solid grey;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 10px 3px grey;
}

div.talent-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid grey;
  padding: 0 10px;
  background-color: lightyellow;
  border-radius: 10px 10px 0 0;
}

div.talent-title:hover .talenthb {
  color: gray;
  transition: 0.3s;
}

div.talent-title img {
  width: 30px;
}

div.talent-box {
  width: 100%;
  height: 90%;
}

table.talent-list {
  width: 100%;
}

table.talent-list tr {
  width: 100%;
  display: flex;
  margin-top: 5px;
}

table.talent-list td {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  /* border: 1px solid black; */
}

td img {
  width: 90px;
  margin: 0 auto;
}

div.talent-box li img {
  width: 100px;
  margin: 0 auto;
}

/* 증명서 게시판 */

div.cp-ml {
  display: flex;
  width: 100%;
}

div.complete-board {
  width: 35%;
  min-width: 250px;
  height: 210px;
  margin: 10px;
  border: 2px solid grey;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 10px 3px grey;
}

div.complete-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid grey;
  padding: 0 10px;
  background-color: lightyellow;
  border-radius: 10px 10px 0 0;
}

div.complete-title:hover .completehb {
  color: gray;
  transition: 0.3s;
}

div.complete-title img {
  width: 30px;
}

div.complete-box {
  padding: 5px;
  display: flex;
  margin-left: 10px;
}

div.complete-box img {
  margin-top: 20px;
  width: 120px;
}

div.complete-box ul {
  margin: 15px;
  margin-top: 50px;
}

div.complete-box li {
  list-style: none;
  text-align: left;
  margin: 5px 0;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}

/* 문의 게시판 */
div.mail-board {
  width: 53%;
  min-width: 200px;
  height: 210px;
  margin: 9px;
  border: 2px solid grey;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 10px 3px grey;
}

div.mail-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid grey;
  padding: 0 10px;
  background-color: lightyellow;
  border-radius: 10px 10px 0 0;
}

div.mail-title:hover .mailhb {
  color: gray;
  transition: 0.3s;
}

div.mail-title img {
  width: 30px;
}

div.mail-box {
  width: 100%;
  padding: 5px;
}

table.mail-timeline {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  font-size: 14px;
  overflow: hidden;
}

table.mail-timeline th {
  border-right: 1px solid gray;
  text-align: left;
  margin: 3px;
  padding: 3px;
}

table.mail-timeline tr {
  border-bottom: 1px solid black;
  font-weight: bold;
  margin: 10px;
}
