@charset 'utf-8';
body {
    margin: 0;
    font-family: Noto Sans KR,Malgun Gothic,-apple-system,Segoe UI,Roboto,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #323232;
    text-align: left;
    background-color: #fff;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.header {
    border-bottom: none;
    height: 4.5rem;
    padding: 0;
    position: relative;
    z-index: 1020;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}

.header .header-all{
    width: 60.625rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .header-all .header-left{
    float: left;
    display: flex;
    align-items: center;
    text-align: center;
    text-size-adjust: 100%;
}

.header .header-all .header-right{
    justify-content: flex-end;
    display: flex;
    align-items: center;
    text-align: center;
    
}

.header .header-ul{
    display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
    text-size-adjust: 100%;
}

.header .header-all .header-left .header-left-item{

    font-weight: 500;
    margin-right: 1rem
    
}

.header .header-all .header-left .header-left-item:first-child{

    margin-left: 0;
    
}

.header .header-item{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
}

.header .header-all .header-right .header-right-item{

    margin-right: 1rem
    
}

.header .header-all .header-right .header-right-item:first-child{

    margin-left: 1rem;
    
}

.header .header-all .header-right .headers-btn{

    width: 5rem;
    padding-top: 0.40625rem;
    padding-right: 0px;
    padding-bottom: 0.40625rem;
    padding-left: 0px;
    border-radius: 6px;
    font-size: .875rem;
    color: #fff;
    background-color: #00a18d;
    border-color: #009481;
    font-weight: 500;
    transition: opacity .2s ease-in-out;
    cursor: pointer;
    overflow: visible;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 0.0625rem solid transparent;
    
}

.btn:hover {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #323232;
    background-color: transparent;
    cursor: pointer;
}

.btn a{
    color: inherit;
    display: block;
    line-height: inherit;
}

.header img{
    vertical-align: middle;
    border-style: none;
}

.footer-container {
    background: #fff;
    border-top: 0.0625rem solid #e1e1e1;
    padding-top: 1.3125rem;
    padding-right: 0px;
    padding-bottom: 2.5rem;
    padding-left: 0px;
    display: block;
    text-align: left;
}

.footer-container-row {
    display: block;
    max-width: 60.625rem;
    padding: 0;
    height: 72px;
}

.container {
    width: 100%;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
    margin-right: auto;
    margin-left: auto;
}

.footer-container-row .col-contents {
    display: inline-block;
    vertical-align: top;
}

.footer-container-row .footer-left {
    margin-bottom: 1.875rem;
}

.footer-container-row .col-contents p.call-number {
    padding-bottom: 0.1875rem;
    font-size: 1.25rem;
    font-weight: 500;
    font-stretch: normal;
    color: #00c7ae;
}

.footer-container .text{
    margin: 0;
    font-size: .75rem;
    line-height: normal;
    letter-spacing: normal;
    color: #737373;
}

.footer-container-row .col-contents p.work-time{
    margin: 0;
    font-size: .875rem;
    line-height: normal;
    letter-spacing: normal;
    color: #737373;
}

.footer-container-row .col-contents p{
    padding-bottom: 1.875rem;
}

.footer-container-row .footer-right {
    float: right;
    padding-bottom: 2.5rem;
    margin-right: 3.5rem;
}

.terms {
    padding-top :1.25rem;
}

.terms-container{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
}

.footer-container-row .col-contents .col-contents-list-terms {
    line-height: 1.125rem;
    padding-right: 6rem;
    padding-bottom: 0.5rem;
    margin-left: 5rem;
}

.footer-container .terms{
    font-weight: 500;
    text-align: center;
}
.footer-badge{
    margin-left: 0.5rem;
}









