.cs_navi {
    border-top-color: rgb(232,232,232);
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-color: rgb(232,232,232);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}